httpx==0.23.0
gpxpy==1.4.2
stravalib==0.10.4
appdirs>=1.4.0
svgwrite>=1.1.9
colour
s2sphere
arrow
geopy
polyline
sqlalchemy
timezonefinder
pyyaml
aiofiles
black
cloudscraper==1.2.58
python-tcxparser
rich
lxml
eviltransform
bs4
pycryptodome
docopt == 0.6.1
Flask == 1.0
requests == 2.20.0